/* GENERAL */
p, ul {
   font-size: 15px;
}
body {background-color: rgba(100, 100, 155, 0.1);
}
.grund {background-color: white;
        width: 400px;
        margin: 0 auto;
        border: 1px solid rgba(100, 100, 155, 0.4);
        box-shadow: 0 0 4px #686898;
        padding: 80px;
        
}
/* SPAN */
.lasting span {display: block;
}	
.chapter span {display: block;
}	
/* TITLE */
h1 {text-align: center; 
    margin-bottom: 30px;
}
/* IMAGE */
img {height: 150px;
     margin-left: 140px;
     border: 1px solid grey ;    
     box-shadow: 1px 1px 2px 2px #aaa, 1px 2px 2px 2px #eee;
	 border-radius: 5px;
}
#photo {margin-bottom: 20px;
}
/* CHAPTERS */
.chapter {border-bottom: 1px solid black;
         
}
.chapter p {margin-left: 20px
}
.chapter:nth-of-type(2) p {margin-top:30px;
                           margin-bottom: 40px;  
}
.chapter:nth-of-type(3) p:last-child {margin-top: -10px;
                                      padding-bottom: 10px;
}
ul {margin-left: 30px;
}
/* LASTING */
.lasting {
					margin-top: 30px;
          margin-bottom: 60px;margin-left: 20px
}
li {padding-bottom: 10px;
}		 
			