* {margin: 0;
   padding: 0;
}

body {background-color: #f9f9f9;
}

.document {margin: 0 auto;
           width: 1059px;
           background-color: #ffffff;
           border: 1px solid #dbdbdb;
           box-shadow: 0 0 1px 1px #e7e7e7; 0 0 2px  #f0f0f0; 0 0 3px 3px #f0f0f0
}
/* HEADER*/
.header {width: 966px;
         margin: 50px 48px 50px 46px;
}
.logo img {margin-left: 2px;
           margin-top: 2px;
}
.menu { height: 40px;
        width: 966px;
        margin-top: 40px;
        background-color: #4f4e4e;
        background: linear-gradient(bottom, #444343, #5e5e5e);
}
.menu ul {position: relative;
          overflow: hidden; 
          padding:0;
          height: 100%;
}
.links {height: 100%;
        line-height: 40px;
        display: inline-block;
        border-left: 1px solid  #4f4e4e;
        border-right: 1px solid  #4f4e4e;
        float: left;
        list-style-type: none;
}
.links p {margin-top: 10px;
          text-align: center; 
          font: 14.67px "[OpenSans]", sans-serif;
          color: white;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
} 
.menu a {text-decoration: none;
         display: block;
         padding: 0 30px;
         height: 100%;
}
.links:hover {background-color: #444444; 
              border-color: #838383; 
}

/* CONTAINER */
.container {margin: 40px 48px 0 46px;
            width: 966px; 
}
.leftmenu {
           width: 238px;
           border: 1px solid #c8c8c8;
           float: left; 
           margin: 0px 36px 34px 0px;
}
.leftmenu p {font: 13.33px "[OpenSans]", sans-serif;
             color: #656363;
             text-shadow: -1px 0px #dddddd; 
             padding: 9px 0px 15px 18px;  
}
.leftmenu a {text-decoration: none;
             display: block;
}
.species {display: block;
          line-height: 39px;
          border-bottom: 1px solid #c8c8c8;
          
}
.species:hover {background-color: #f9f9f9;
                padding-left: 12px; 
}
.species:hover p {color: #2c2c2c;
}

.content {width: 676px;
          float: right;
          margin: 0;
}       
.image {
        border: 1px solid #c8c8c8;
        padding: 45px 88px;
        text-align: center;
}

.text {margin: 38px 24px 0px ; 
}
.text p {font: 13.33px "Myriad Pro", sans-serif;  
} 
.container::after {content:''; clear: both; display: block; height: 0;}
/* FOOTER */
.footer {
         width: 966px;
         margin: 60px 48px 60px 46px;
         background-color: #e1e1e1;
         overflow:hidden;
         position: relative;
         
}
.footlinks {display: inline-block;
            line-height: 40px;
            height: 100%;
            width: 120px;
            float:left;
            
}
.footlinks ul {position: relative;
              overflow: hidden;
             height: 100%;
             padding: 0;}

.footlinks p {color: #2c2c2c;
              font: 13.33px "[OpenSans]", sans-serif;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
              position: relative;
              top: 10px;
              margin-left: 25px;
              margin-right: 42px;
}
.footer ul > li:nth-of-type(4) p {margin-right: 37px;
}
.footer ul > li:nth-of-type(3) p {margin-right: 57px;
}
.footer ul > li:nth-of-type(2) p {margin-right:48px; 
}
.footlinks a {text-decoration: none;
              display: block;
             height: 100%;
 }
.footlinks p:hover {border-bottom: 1px solid #6a6a6a;
}
.copyright {float: right;
            padding: 11px 40px; 
}
.copyright p {font: 13.33px "MyriadPro", sans-serif;
              color: #2c2c2c; 
}


